<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <% if !teacher.persisted? %>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
    <%end %>

  <div class="field">
    <%= form.label :subject %>
    <%=form.select("subject_id", Subject.all.collect {|p| [ p.sub_name, p.id ] }, { include_blank: false }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
